﻿@section Scripts {
    @Scripts.Render("~/Scripts/script.js")
}
@*forma za registraciju*@
<div class="row">
    <div class="col-sm-4" id="showRegForm" style="display: none">
        <form method="post" action="post/" id="registration">
            <h3>Registration</h3>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" id="regEmail" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" id="regPass" />
            </div>
            <div class="form-group">
                <label>Confirm password</label>
                <input class="form-control" type="password" id="regPass2" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Registration</button>
            </div>
        </form>
    </div>
    @*login forma*@
    <div class="col-sm-4" id="showLoginForm">
        <form method="post" action="post/" id="login">
            <h3>Log in</h3>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" id="logEmail" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" id="logPass" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Log in</button>
                <button type="button" class="btn btn-default" id="showReg">Registration</button>
            </div>
        </form>
    </div>
</div>
@*dugme za logout*@
<div class="row">
    <div class="col-sm-4" id="logout">
        @*<h3>Logout</h3>*@
        <button class="btn btn-default" id="btnLogout">Logout</button>
    </div>
</div>
@*ucitavanje podataka i ispis poruke*@
<div id="seedTrade"></div>
<div class="row">
    <p id="info"></p>
    <div id="search" style="display: none">
        <h4>Search cars by year</h4>
        <p><label>From: <input id="start" type="number" step=".01" class="form-control" /></label></p>
        <p><label>To: <input id="kraj" type="number" step=".01" class="form-control" /></label></p>
        <button id="btnSearch" class="btn btn-default btn-md">Search</button>
        <hr />
    </div>
    <div id="seed"></div>
</div>
@*forma za proizvod*@
<div id="formCars" class="form-group" style="display:none">
    @*<button type="button" class="btn btn-default btn-lg" id="btnProducts" style="display:none"></button>*@
    <h3>Car editor</h3>
    <form method="post" action="post/" id="carForm">
        <p><label>Brand: <input id="brand" type="text" class="form-control" /></label></p>
        <p><label>Model: <input id="model" type="text" class="form-control" /></label></p>
        <p><label>Year: <input id="year" type="number" step=".01" class="form-control" /></label></p>
        <p><label>Capacity: <input id="capacity" type="number" step=".01" class="form-control" /></label></p>
        <p><label>VIN: <input id="vin" type="text" class="form-control" /></label></p>
        <p><label>Price: <input id="price" type="number" step=".01" class="form-control" /></label></p>
        <p><label>Consumption: <input id="consumption" type="number" step=".01" class="form-control" /></label></p>
        <p><label>Power: <input id="power" type="number" step=".01" class="form-control" /></label></p>
        <br />
        <p><button class="btn btn-default btn-md">Submit</button></p>
        <p><button type="button" id="btnReset" class="btn btn-default btn-md">Reset</button></p>
    </form>
    <hr />
    <button id="top5">Top 5 cheapest car</button>
    <hr />
    <button id="top5power">Top 5 powerful car</button>
    <hr />
    <button id="detailsCarSalon">Details about car trade</button>
</div>